@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "./normalize.css";

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  font-family: "Press Start 2P";
}
